description "Registrator"

start on filesystem or runlevel [2345]
stop on runlevel [!2345]

env HOME=/home/{{ run_user }}
setuid {{ run_user }}
setgid docker

respawn
respawn limit 3 30

pre-start script
    /usr/bin/docker rm -f registrator || true
end script

pre-stop script
    /usr/bin/docker rm -f registrator || true
end script

script

    docker run --name registrator \
        -v /var/run/docker.sock:/tmp/docker.sock \
        --net=host \
        gliderlabs/registrator:latest \
        consul://0.0.0.0:8500
end script



