{
    "bootstrap_expect": {{ consul_bootstrap_expect }},
    "server": true,
    "datacenter": "{{ consul_datacenter }}",
    "data_dir": "{{ consul_persistent_data_dir }}",
    "encrypt": "{{ consul_secret }}",
    "log_level": "INFO",
    "enable_syslog": true,
    "ui_dir": "{{ consul_ui_dir }}",
    "client_addr": "{{ consul_host_ip }}",
    "advertise_addr": "{{ consul_host_ip }}",
    "start_join": {{ consul_servers | to_nice_json }}
}
