local   all             all           trust
host    all             all             0.0.0.0/0               md5
host    replication     {{ postgres_replication_user }}       0.0.0.0/0               md5

