#!/bin/bash -x

FALLING_NODE=$1         # %d
OLDPRIMARY_NODE=$2      # %P
NEW_PRIMARY=$3          # %H
PGDATA=$4               # %R
KEY_PATH="/home/{{ postgres_replication_user }}/.ssh/id_rsa"

if [ $FALLING_NODE = $OLDPRIMARY_NODE ]; then
    ssh -T -i $KEY_PATH {{ postgres_replication_user }}@$NEW_PRIMARY "touch $PGDATA/postgresql.trigger"
fi;

exit 0;
