host    all             all             0.0.0.0/0               trust
host    {{ postgres_replication_user }}     {{ postgres_replication_user }}       0.0.0.0/0               md5
host    all             all             {{ n1_ip }}/32               trust
host    all             all             {{ n2_ip }}/32               trust

