description "PGPOOL"

start on filesystem or runlevel [2345]
stop on runlevel [!2345]

env HOME=/home/{{ run_user }}
setuid {{ run_user }}
setgid docker

respawn
respawn limit 3 30

pre-start script
    /usr/bin/docker rm -f pgpool || true
end script

pre-stop script
    /usr/bin/docker rm -f pgpool || true
end script

script
    docker run --name='pgpool' \
               -e "SERVICE_NAME=pgpool" \
               -p 0.0.0.0:9999:9999 \
               -v {{ pgpool_data }}:{{ pgpool_data }} \
               alexeyfrank/pgpool2 pgpool -n -d
end script



