description "Postgres"

start on filesystem or runlevel [2345]
stop on runlevel [!2345]

env HOME=/home/{{ run_user }}
setuid {{ run_user }}
setgid docker

respawn
respawn limit 3 30

pre-start script
    /usr/bin/docker rm -f postgres || true
end script

pre-stop script
    /usr/bin/docker rm -f postgres || true
end script

script
    docker run --name='postgres' \
               -e "SERVICE_NAME=postgres-slave" \
               -e 'PSQL_MODE=slave' \
               -e 'PSQL_TRUST_LOCALNET=true' \
               -e 'REPLICATION_USER={{ postgres_replication_user }}' \
               -e 'REPLICATION_PASS={{ postgres_replication_password }}' \
               -e 'REPLICATION_HOST={{ postgres_master_ip }}' \
               -e 'REPLICATION_PORT=5432' \
               -e 'DB_NAME={{ postgres_database }}' \
               -e 'DB_USER={{ postgres_user }}' \
               -e 'DB_PASS={{ postgres_password }}' \
               -p 0.0.0.0:5432:5432 \
               -v {{ postgres_data }}:/var/lib/postgresql \
               sameersbn/postgresql:9.4-3
end script



